body{
    background-color: black;
}
h1{
    color: chocolate;
    text-align:center;
}

p{
    color: deepskyblue;
    text-align:center;
}

button{
    background-color:silver;
    color:rgb(0, 0, 62);
    border-radius:125%;
    border-color:chocolate;
    border-style:groove;
}

h3{
    color: deepskyblue;
}
*{
    color:brow
}