#main-logo{
    width: 3%;
    display:inline-flex;
    margin-right: 5px;
    margin-left: 20px;
}
#main-title{
    display:inline-flex;
    margin-right: 260px;
}
.nav-buttons{
    border: none;
    background: none;
    display: inline-block;
    margin-right: 20px;
    font-size: medium;
    cursor: pointer;
}
#search-button{
    display: inline-block;
    width: 20px;
    margin-right: 50px;
    cursor: pointer;
}
#get-button{
    color: aliceblue;
    background-color:rgb(247, 112, 63);
    border: none;
    padding: 6px;
    cursor: pointer;
}
#intro-h1{
    text-align: start;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 0;
}
#intro-p{
    text-align: start;
    font-size: 18px;
    margin-left: 40px;
}
#intro-pic{
    width: 35%;
    margin-left: 400px;
    margin-top: 0;
    position:absolute;
    left: 25%;
    top: 20%;
}
#shop-now{
    background-color: rgb(247, 112, 63);
    color: white;
    border-radius: 8px;
    border: none;
    padding:  10px 15px;
    margin-right: 5px;
    margin-left: 60px;
    cursor: pointer;
}
#contact-us{
    background-color: black;
    color: white;
    border-radius: 8px;
    border: none;
    padding:  10px 15px;
    cursor: pointer;
}
.center-content{
    text-align: center;
    margin-top: 5px;
}
#p1,#p3,#p5,#p7{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:0;
}
#card1,#card2,#card3{
  display: inline-block;
  width: 22%;
  padding: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
  overflow:hidden;
  cursor: pointer;
  margin-right: 10px;

}
#card1{
    margin-left: 150px;
}
.card-description{
    color:rgb(247, 112, 63);
}
#read-more{
    background-color: black;
    color: white;
    border-radius: 8px;
    border: none;
    padding:  10px 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}

#buy-pic1{
    position: absolute;
    left: 65%;
    top: 180%;
    width: 15%;
}
#buy-pic2{
    position: absolute;
    left: 70%;
    top: 210%;
    width: 6%;
}
#buy-pic3{
    position: absolute;
    left: 65%;
    top: 245%;
    width: 13%;
}
.buy-fruits{
    font-size: xx-large;
    margin-left: 100px;
}
.buy-description{
    font-size: medium;
    margin-left: 100px;
}
.buy-button{
    background-color: black;
    color: white;
    border-radius: 8px;
    border: none;
    padding:  10px 15px;
    margin-left: 110px;
    cursor: pointer;
}
#client-pic{
    width: 30%;
    margin-left: 440px;
}
footer{
    background-color:gainsboro;
    padding: 5px 10px;
    text-align: center;
}